<!-- <div>{{ appState$ | async | json}}</div> -->

<div class="container-xl">
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-6">
                        <h2>Manage Servers</h2>
                    </div>
                    <div class="col-sm-6">
                        <button type="button" class="btn btn-primary"> Print Report</button>
                        <a href="#addEmployeeModal" class="btn btn-success" data-toggle="modal">
                            <i class="material-icons">&#xE147;</i>
                            <span>New Server</span>
                        </a>
                        <span>
                            <select name="status" class="btn btn-info" style="height: 32.91px;">
                                <option value="ALL">ALL</option>
                                <option value="SERVER_UP">SERVER_UP</option>
                                <option value="SERVER_DOWN">SERVER_DOWN</option>
                            </select>
                        </span>
                    </div>
                </div>
            </div> <br>
            <ng-container>
                <ng-container>
                    <div class="col-md-12 single-note-item text-center">
                        <div class="spinner-border text-info" role="status"></div>
                    </div>
                </ng-container>
            </ng-container>
                <table class="table table-striped table-hover" id="servers">
                    <thead>
                        <tr>
                            <th>Image</th>
                            <th>IP Address</th>
                            <th>Name</th>
                            <th>Memory</th>
                            <th>Type</th>
                            <!-- 1:59:56-->
                            <h1>louay is the bst </h1>

                        </tr>
                    </thead>
                </table>
        </div>
    </div>
</div>